/* -----------------------
リセットCSS
----------------------- */

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Noto Sans JP", sans-serif;
}

.page_wrapper {
    margin-top: 80px;
    padding: 0;
    background-color: #F7F7F7;
}

.page_container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

::placeholder {
    color: #ccc;
}

html {
    font-family: noto-sans-cjk-jp, sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.075em;
}

body {
    color: #333;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main {
    overflow: hidden;
}

.sp_only {
    display: none;
}

.pc_only {
    display: block;
}


/* header */

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 3, 6, 0.1);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #fff;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: transparent;
    color: #11318f;
}

.header .logo {
    display: block;
    font-size: 2em;
    padding: 0;
    text-decoration: none;
}

.header .logo img {
    height: 60px;
    width: auto;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}


/* menu */

.header .menu {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: block;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    background-color: #e2e4f0;
    overflow: hidden;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: -20px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.header .menu-icon .navicon {
    display: block;
    background-color: #6d7eaf;
    height: 2px;
    border-radius: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    content: "";
    background-color: #6d7eaf;
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 8px;
}

.header .menu-icon .navicon:after {
    top: -8px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 1000px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.header .menu a {
    padding: 20px 0;
    margin: 0 40px;
    text-align: left;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #b9c0d1;
    border-right: none;
    font-weight: 500;
}

.header .menu li:first-child {
    margin-top: 30px;
}

.header .menu li:last-child {
    margin-bottom: 50px;
}

.icon-menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}


/* -----------------------
header ボタン
----------------------- */

.header-button-01 {
    display: inline-block;
    background-image: url(../images/header-button-icon01.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    background-color: #6d7eaf;
    background-size: 26px 26px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-top: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-left: 10px;
}

.header-button-01 span {
    font-size: 10px;
    display: inline-block;
}

.header-button-01.header-button-01--icon02 {
    background-image: url(../images/header-button-icon02.png);
}

.header-button-01:hover {
    background-color: #9cacd9;
}

@media (min-width: 1140px) {
    .header .menu a {
        margin: 0;
        padding: 20px 20px;
        font-size: 14px;
        border-bottom: none;
        border-right: none;
    }
    .header .menu li:first-child {
        margin-top: 0;
    }
    .header .menu li:last-child {
        margin-bottom: 0;
    }
    .header .menu {
        max-height: none;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        background-color: transparent;
        padding: 0;
    }
    .header .menu-icon {
        display: none;
    }
    .icon-menu-box {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: auto;
    }
}


/*my page side menu start*/


/*マイページベース*/

.my-page_content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 80px;
    min-height: 100vh;
    background-color: #e2e4f0;
}

@media (max-width: 767px) {
    .my-page_content {
        padding-top: 70px;
    }
}

.my-page_nav {
    margin-top: 0;
    min-width: 300px;
    background-color: #f7f7f7;
    padding: 48px;
    min-height: 100vh;
    transition: transform 0.3s;
    z-index: +1;
}

.my-page_main {
    background-color: #e2e4f0;
    width: 100%;
    min-height: 100vh;
    transition: transform 0.3s;
}

@media (max-width: 1140px) {
    .my-page_main {
        width: 100vw;
    }
    .my-page_nav {
        position: fixed;
        top: 70px;
        left: 0;
        transform: translateX(-100%);
    }
    .my-page_nav.my-page_nav--open {
        width: 100%;
        height: 812px;
        transform: translateX(0%);
    }
    .my-page_nav__user {
        display: block;
    }
    .header-user {
        display: none;
    }
    .my-page_nav__user {
        display: block;
        font-size: 24px;
        margin-bottom: 40px;
        text-align: center;
        font-weight: 500;
    }
    .header-button-01 span {
        font-size: 8px;
        display: inline-block;
        letter-spacing: 0.1em;
        white-space: nowrap;
        margin-left: -4px;
    }
    .menu_user {
        background-image: url(../images/my_page_header_icon/my_page_icon_user.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        color: #333;
        background-size: 30px;
        padding-left: 45px;
    }
    .menu_user:hover {
        color: #b9c0d1;
    }
}


/*マイページメニュー*/

.header-user {
    display: block;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 500;
    background-image: url(../images/my_page_header_icon/my_page_icon_user.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    color: #333;
    height: 20px;
    margin-right: 10px;
}

.my-page_nav__user {
    display: none;
}

.my-page_nav__item,
.my-page_nav__item--ac {
    padding-left: 36px;
    font-size: 18px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left center;
}

.my-page_nav__item,
.my-page_nav__items {
    margin-bottom: 31px;
}

.my-page_nav__item--ac {
    margin-bottom: 0;
}

.my-page_nav__subitem {
    padding-left: 36px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 17px;
    display: block;
    color: #333;
}

.my-page_nav__item a {
    color: #333;
}

.my-page_nav__item.my-page_nav__item--01 {
    background-image: url("../images/my_page_header_icon/my_page_icon_01.png");
}

.my-page_nav__item.my-page_nav__item--02 {
    background-image: url("../images/my_page_header_icon/my_page_icon_02.png");
}

.my-page_nav__item--ac.my-page_nav__item--03 {
    background-image: url("../images/my_page_header_icon/my_page_icon_03.png");
}

.my-page_nav__item--ac.my-page_nav__item--04 {
    background-image: url("../images/my_page_header_icon/my_page_icon_04.png");
}

.my-page_nav__item--ac.my-page_nav__item--05 {
    background-image: url("../images/my_page_header_icon/my_page_icon_05.png");
}

.my-page_nav__item.my-page_nav__item--06 {
    background-image: url("../images/my_page_header_icon/my_page_icon_06.png");
}

.my-page_nav__item.my-page_nav__item--07 {
    background-image: url("../images/my_page_header_icon/my_page_icon_07.png");
}

.my-page_nav__item.my-page_nav__item--08 {
    background-image: url("../images/my_page_header_icon/my_page_icon_08.png");
}

.my-page_nav__item.my-page_nav__item--09 {
    background-image: url("../images/my_page_header_icon/my_page_icon_09.png");
}

.my-page_nav__items.close {
    background-image: url("../images/my_page_header_icon/my_page_icon_plus.png");
}

.my-page_nav__items {
    background-image: url("../images/my_page_header_icon/my_page_icon_minus.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 0 top 5px;
    transition: 0.3s;
}


/*アコーディオン*/

.my-page_nav__item--ac {
    cursor: pointer;
}

.my-page_nav__menu>li.close .my-page_nav__submenu {
    height: 0 !important;
}

.my-page_nav__menu .my-page_nav__submenu {
    overflow: hidden;
    height: auto;
    transition: height 0.3s;
}

@media (max-width: 1140px) {
    .header-user {
        display: none;
    }
    .my-page_nav__user {
        display: block;
    }
    .my-page_nav__menu .my-page_nav__submenu {
        width: 100%;
    }
    .header-user {
        background-image: url(../images/my_page_header_icon/my_page_icon_user.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        text-decoration: none;
    }
}

@media (max-width: 1100px) {
    .my-page_nav__item,
    .my-page_nav__items {
        margin-bottom: 0;
    }
    .border_login_header.sp_only {
        display: block;
    }
}


/*区切り線*/

.border_login_header {
    width: 100%;
    text-align: center;
    border-color: #b9c0d1;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


/*my page side menu end*/


/*main共通*/

.page_container {
    padding-top: 80px;
}

@media (max-width: 767px) {
    .page_container {
        padding-top: 70px;
    }
}


/* -----------------------
footer
----------------------- */

#footer {
    text-align: center;
    background-color: #505e88;
    color: white;
    width: 100%;
    height: auto;
    position: static;
    padding-bottom: 1px;
}

#footer a {
    color: white;
    font-size: 14px;
    display: block;
}

#footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

#footer li {
    margin: 0 20px;
    text-align: center;
    border: none;
}

.copyright {
    font-size: 12px;
    padding: 20px 0;
}

hr {
    border-width: 1px 0px 0px 0px;
    /* 太さ */
    border-style: solid;
    /* 線種 */
    border-color: white;
    /* 線色 */
    margin: 0;
    padding: 0;
}

#footer a:hover {
    opacity: 0.7;
}


/* -----------------------
btn(ボタン)白反転
----------------------- */

.button02 a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 50px;
    color: #6d7eaf;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 5px;
    padding: 13px 26px 13px 48px;
    /**--上右下左--**/
}

.button02 a:hover {
    text-decoration: none;
    background-color: #9cacd9;
    color: white;
}

.button02 img {
    width: 12px;
    margin-right: -10px;
}


/*--ステータスボタン--*/

.button_common .skyblue {
    background-image: none;
    background-color: skyblue;
}


/* -----------------------
プルダウンメニュー
----------------------- */

.select_menu {
    /* styling */
    background-color: #fff;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: 12px 32px;
    min-width: 163px;
    text-align: center;
    color: #6d7eaf;
    background-image: url("../images/input_select/select_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 center;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select_menu_wrap {
    position: relative;
}

.select_menu_wrap img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 12px;
}


/* -----------------------
レスポンシブ
----------------------- */


/**sp**/

@media (max-width: 767px) {
    /*header*/
    .header .logo img {
        height: 40px;
    }
    .header {
        height: 70px;
    }
    .header .menu {
        top: 70px;
    }
    .icon-menu-box .header-button-01 {
        background-size: 18px 18px;
        width: 45px;
        height: 45px;
        padding-top: 20px;
    }
    .header-button-01 span {
        font-size: 10px;
        transform: scale(0.8);
    }
    /**all**/
    .pc_only {
        display: none;
    }
    .main_bk_wrapper {
        margin-bottom: 40px;
    }
    #mainvisual {
        margin-bottom: 60px;
        padding-top: 70px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 60px;
    }
    .section_image {
        width: 100%;
        max-height: none;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
    }
    .section_wrapper {
        margin-top: 36px;
    }
    .section_wrapper.section_wrapper__banner {
        flex-direction: column;
    }
    .banner_link {
        margin: 0 0 20px;
    }
    .wrapper.wrapper__height_auto.wrapper__bottom_banner {
        margin-bottom: 20px;
    }
    .section_content {
        max-width: 767px;
        width: 100%;
        display: block;
    }
    .copyright {
        margin: 0;
    }
    /**header**/
    /**section**/
    .link {
        display: block;
    }
    /**footer**/
    #footer ul {
        display: block;
        padding: 15px 20px;
    }
    #footer li {
        border-bottom: 1px solid #6f7fad;
    }
    #footer li:last-child {
        border-bottom: none;
    }
    #footer li a {
        padding: 15px 0;
    }
    #footer {
        width: 100%;
        font-size: 12px;
        position: static;
    }
    .copyright {
        font-size: 12px;
        padding: 20px 0;
    }
}


/*my-page共通**********************************/

.my-page_main {
    padding: 70px 60px;
}

.my-page_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 31px;
    color: #333;
}

.my-page_subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #6d7eaf;
    margin-top: -10px;
    margin-bottom: 31px;
}

.operation_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.operation_panel.operation_panel--center {
    justify-content: center;
}

.operation_panel.operation_panel__alt {
    gap: 30px;
}

.operation_panel.operation_panel--right {
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .operation_panel.operation_panel__alt {
        flex-direction: column;
        justify-content: center;
    }
    .operation_panel {
        margin-bottom: 100px;
    }
}


/* 08.レスポンシブ*/

@media (max-width: 767px) {
    .usage_conditions_items {
        display: block;
    }
    .usage_conditions_item {
        width: 100%;
        height: 108px;
        margin-bottom: 15px;
        text-align: center;
    }
    .amount_used_panel {
        display: block;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .usage_conditions_item__title {
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        margin-bottom: 0;
        margin-top: -10px;
    }
    .usage_conditions_item__data {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .usage_conditions_item__data span {
        font-size: 14px;
        text-align: center;
    }
    .amount_used_panel__label {
        font-size: 18px;
    }
    .data_amount {
        font-size: 28px;
        color: #6d7eaf;
        padding-left: 22px;
    }
    .data_amount_label {
        font-size: 20px;
        color: #6d7eaf;
    }
    .data_amount_note {
        font-size: 14px;
        color: #6d7eaf;
    }
    .my-page_title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }
    .my-page_subtitle {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .my-page_main {
        padding: 30px 20px;
    }
}

/*各ページフローティングパネル*/
.amount_box {
    display: inline-block;
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #f7f7f7;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(2px 2px 0 #bac0cf);
    font-weight: 500;
}

.amount_box__label {
    font-size: 16px;
    margin-bottom: 10px;
}

.button_common.button_common__clc-alt {
    padding: 8px 15px 8px 8px;
    min-width: 118px;
    background-image: url("../images/common/arrow_bottom.png");
}

.amount_box.amount_box__alt {
    background-color: #e2e4f0;
    width: 138px;
    height: 145px;
}

@media (max-width: 767px) {
    .amount_box {
        right: 20px;
    }
}


/* -----------------------
btn(ボタン)
----------------------- */

.button_common {
    display: block;
    padding: 13px;
    max-width: 180px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #6d7eaf;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-image: url(../images/target_printing.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    transition: 0.3s;
    margin: 0 auto;
    cursor: pointer;
}

.button_common.button_common__hidden {
    visibility: hidden;
    display: block;
}

.button_common.button_common__back {
    margin: 0;
    background-image: url("../images/common/arrow_left_white.png");
    background-position: left 10px center;
}

.button_common:visited {
    color: #fff;
}

.button_common:hover {
    background-color: #9cacd9;
}

.button_common.button_common--bk-white {
    background-color: #fff;
    color: #6d7eaf;
    background-image: url(../images/target_printing_white.png);
    margin: 0 auto;
}

.button_common.button_common--bk-white:hover {
    background-color: #9cacd9;
    color: #fff;
    background-image: url(../images/target_printing.png);
}

.button_common.button_common__read_more {
    background-color: transparent;
    border: 1px solid #6d7eaf;
    color: #6d7eaf;
    background-image: url(../images/plus.png);
    background-size: 12px;
    background-position: right 10% center;
}

.simulation_button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.button01 a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #6d7eaf;
    transition: 0.3s;
    border-radius: 5px;
    padding: 13px 26px 13px 48px;
    /**--上右下左--**/
}

.button01 a:hover {
    text-decoration: none;
    background-color: #9cacd9;
}

@media (max-width: 767px) {
    .button_common.button_common__hidden {
        display: none;
    }
}

.button03 {
    display: block;
    padding: 8px 30px 8px 12px;
    max-width: 120px;
    width: auto;
    text-align: center;
    color: #6d7eaf;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #6c7eae;
    background-image: url(../images/common/arrow_right_blue.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    transition: 0.3s;
}

.button03:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.button03.button03__abs {
    position: absolute;
    bottom: 20px;
    left: 10px;
}


/**ステータスパネル・ソートパネル**/

.sort_panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.request_panel_header__label.request_panel_header__label--blue {
    background-color: #5477c7;
}

.request_panel_header__label.request_panel_header__label--gray {
    background-color: #777777;
}

.request_panel_header__label.request_panel_header__label--mazenta {
    background-color: #c34676;
}

.request_panel_header__label.request_panel_header__label--deepred {
    background-color: #95033b;
}

.request_panel_header__label.request_panel_header__label--pink {
    background-color: #f59fca;
}

.request_panel_header__label.request_panel_header__label--orange {
    background-color: #cc7b29;
}

.request_panel_header__label.request_panel_header__label--yellow {
    background-color: #e3b872;
}

.button_cancel {
    font-size: 14px;
    padding: 5px 25px 5px 10px;
    border-radius: 4px;
    background-color: transparent;
    color: #6d7eaf;
    font-weight: 500;
    border: 2px solid #6d7eaf;
    background-image: url("../images/common/button_cancel_icon.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}


/* -----------------------
24.item_list
----------------------- */

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 295px;
    border: 3px solid #fff;
    border-right: none;
    padding: 5px;
    height: 22.5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
    font-size: 16px;
}

.searchTerm:focus {
    color: #6d7eaf;
}

.searchButton {
    width: 39px;
    height: 39px;
    border: 1px solid #6d7eaf;
    background: #6d7eaf;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    z-index: 100;
    background-image: url(../images/loupe.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.tools_flex {
    display: flex;
}


/*25_request_to_takeout.html ここから**********************************/

.list_operation_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.list_operation_panel__selection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.list_operation_panel__search {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.search_menu_wrap {
    display: flex;
    gap: 0;
    flex-direction: row;
}

.item_list_panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 40px;
}

.item_list_panel__item {
    width: calc(25% - 20px);
    height: 0;
    padding-top: 17.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    position: relative;
}

@media (max-width: 1100px) {
    .list_operation_panel {
        display: flex;
        flex-direction: column-reverse;
    }
    .list_operation_panel__search {
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
    }
}

@media (max-width: 767px) {
    .list_operation_panel {
        display: flex;
        flex-direction: column-reverse;
    }
}

.list_selection__input {
    display: none;
}

.list_selection__input+label {
    display: block;
    min-width: 165px;
    border: 1px solid #6d7eaf;
    color: #6d7eaf;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    font-size: 16px;
}

.list_selection__input+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid #6d7eaf;
    border-radius: 50%;
    background-color: #fff;
    background-image: none;
}

.list_selection__input:checked+label::before {
    background-color: #6d7eaf;
    background-image: url("../images/input_radio/radio_icon_check.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.search_menu__input {
    font-size: 16px;
    min-width: 295px;
    max-height: 40px;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    border: none;
    padding: 11px 10px;
    margin: 0;
    display: block;
}

.search_menu__submit {
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url(../images/common/search_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    border-radius: 0 4px 4px 0;
}

@media (max-width: 767px) {
    .button_common.button_common__submit {
        max-width: 240px;
        height: 60px;
        text-align: center;
        line-height: 2;
    }
}

.list_selection__input--alt {
    display: none;
}

.list_selection__input--alt+label {
    display: block;
    color: #6d7eaf;
    width: 100%;
    height: calc(100% + 33px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: -40px;
}

.list_selection__input--alt+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid #6d7eaf;
    border-radius: 50%;
    background-color: #fff;
    background-image: none;
}

.list_selection__input--alt:checked+label::before {
    background-color: #6d7eaf;
    background-image: url("../images/input_radio/radio_icon_check.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.list_selection__input--alt:checked+label {
    border: 2px solid #6d7eaf;
    border-radius: 4px;
}

.item_list_panel__date {
    font-size: 12px;
    color: #777777;
    padding: 7px 6px 9px;
    height: 33px;
    background-color: #f7f7f7;
    border-radius: 0 0 4px 4px;
}

.item_list_panel__item--alt {
    width: calc(25% - 20px);
    height: 0;
    padding-top: 17.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 53px;
    border-radius: 10px 10px 0 0;
    position: relative;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.17));
}

@media (max-width: 1335px) {
    .item_list_panel__item--alt {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 767px) {
    .item_list_panel {
        margin-right: -10px;
    }
    .item_list_panel__item--alt {
        width: calc(50% - 10px);
        padding-top: 33%;
        margin-right: 10px;
        margin-bottom: 43px;
    }
}


/*25_request_to_takeout.html ここまで**********************************/


/*29_select-date-of-request.html ここから**********************************/

.estimated_amount_panel {
    background-color: #9cacd9;
    padding: 25px 20px 25px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 40px;
}

.estimated_amount_panel__label {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.estimated_amount_panel__data {}

.data_amount.data_amount--white {
    color: #fff;
}

.data_amount_label.data_amount_label--white {
    color: #fff;
}

.data_amount_note.data_amount_note--white {
    color: #fff;
}


/**旧ページのカラー**/

.estimated_amount_panel.estimated_amount_panel--old {
    background-color: #fff;
}

.estimated_amount_panel__label.estimated_amount_panel__label--old {
    color: #6d7eaf;
}

.estimated_amount_panel__data.estimated_amount_panel__data--old {
    color: #333333;
}

.data_plane_name.data_plane_name--old {
    color: #333333;
}

.data_amount.data_amount--old {
    color: #333333;
}

.data_amount_label.data_amount_label--old {
    color: #333333;
}

.data_amount_note.data_amount_note--old {
    color: #333333;
}


/**ここまで**/

.estimated_content_panel {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.estimated_content_panel__title {
    font-size: 18px;
}

.estimated_content_panel__label {
    display: block;
    font-size: 12px;
    color: #6d7eaf;
    margin-bottom: 6px;
}

.estimated_content_panel__name {
    display: block;
}

.estimated_content_panel__date {
    font-size: 18px;
}

.estimated_content_panel__date span {
    font-size: 14px;
}

.estimated_content_panel__date.estimated_content_panel__date--red {
    color: #b90000;
}

.change_panel_items {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.change_panel_item {
    width: calc(33.333% - 13.333px);
    padding: 20px 10px 60px;
    border-top: 1px solid #6d7eaf;
    border-bottom: 1px solid #6d7eaf;
    position: relative;
}

.change_panel_item__name {
    font-size: 18px;
    color: #6d7eaf;
    margin-bottom: 10px;
    font-weight: 500;
}

.change_panel_item__data {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
}

.change_panel_item__data.error {
    color: #b90000;
}

.request_panel_items {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.request_panel_item {
    width: calc(33.333% - 13.333px);
    padding: 0;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.request_panel_item__img {
    width: 100%;
    height: 0;
    padding-top: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.request_panel_item__options {
    padding: 20px 20px 10px;
}

.form_label__option {
    padding-left: 10px;
}

.form_label__option {
    display: none;
}

.form_label__option+label {
    display: block;
    background-color: #f7f7f7;
    padding: 12px 12px 12px 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.form_label__option+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #b9c0d1;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
}

.form_label__option:checked+label::before {
    background-image: url("../images/input_radio/radio_icon_check_blue.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.form_label__option:checked+label {
    background-color: #e2e4f0;
}

.button_common.button_common__ok {
    margin: 40px 0 0 0;
}

.campaign_code_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.campaign_code_panel__name {
    font-size: 20px;
    color: #6d7eaf;
    margin-right: 40px;
}

.campaign_code_panel__data {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.campaign_code_panel__input {
    border: 1px solid #b9c0d1;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    padding: 12px;
    max-width: 498px;
    width: 100%;
}

.campaign_code_panel__button {
    margin: 0 0 0 10px;
    background-color: #6d7eaf;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.campaign_code_panel__button:hover {
    background-color: #9cacd9;
}

@media (max-width: 767px) {
    .estimated_amount_panel {
        flex-direction: column;
        padding: 25px 20px;
    }
    .estimated_amount_panel__label {
        margin-bottom: 15px;
    }
    .data_plane_name {
        display: block;
        text-align: center;
    }
    .estimated_content_panel {
        flex-direction: column;
    }
    .estimated_content_panel__title {
        width: 100%;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #b9c0d1;
        margin-bottom: 10px;
    }
    .estimated_content_panel__date {
        width: 100%;
        text-align: right;
    }
    .change_panel_items {
        flex-direction: column;
        gap: 0;
    }
    .change_panel_item {
        width: 100%;
        border-bottom-color: transparent;
    }
    .change_panel_item:last-child {
        border-bottom-color: #6d7eaf;
    }
    .request_panel_items {
        flex-direction: column;
    }
    .request_panel_item {
        width: 100%;
    }
    .campaign_code_panel {
        flex-direction: column;
        padding: 20px;
    }
    .campaign_code_panel__name {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .campaign_code_panel__data {
        width: 100%;
    }
}


/*29_select-date-of-request.html ここまで**********************************/


/*24_item_list.html ここから**********************************/

.item_list_panel__date__flex {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-radius: 0 0 10px 10px;
    align-items: center;
}

.list_operation_panel--alt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.item_list_panel--alt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 40px;
}

.list_selection__input--alt-2 {
    display: none;
}

.list_selection__input--alt-2+label {
    display: block;
    color: #6d7eaf;
    width: 100%;
    height: calc(100% + 36px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: -42px;
}

.list_selection__input--alt-2+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid #6d7eaf;
    border-radius: 50%;
    background-color: #fff;
    background-image: none;
}

.list_selection__input--alt-2:checked+label::before {
    background-color: #6d7eaf;
    background-image: url("../images/input_radio/radio_icon_check.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.list_selection__input--alt-2:checked+label {
    border: 2px solid #6d7eaf;
    border-radius: 10px;
}

.item_list_panel__date--alt {
    font-size: 12px;
    color: #777777;
    padding: 7px 6px 9px;
    height: 33px;
}

.item_list_panel__item--alt-2 {
    width: calc(25% - 20px);
    height: 0;
    padding-top: 17.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 53px;
    border-radius: 10px 10px 0 0;
    position: relative;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.17));
}

.button_common.button_common__read_more__itemlist {
    background-color: transparent;
    border: 1px solid #6d7eaf;
    color: #6d7eaf;
    background-image: url(../images/plus.png);
    background-size: 12px;
    background-position: right 10% center;
    margin: 0 auto;
}


/*ステータスボタン関係*/

.request_label_mini {
    text-align: right;
}

.request_label_mini span {
    font-size: 10px;
    font-weight: 700;
    padding: 4px 6px 6px 6px;
    color: #fff;
    border-radius: 4px;
    margin: 5px;
    display: inline-block;
}

.request_label_mini.request_label_mini--mazenta span {
    background-color: #c34676;
}

.request_label_mini.request_label_mini--skyblue span {
    background-color: #63c3e6;
}

.request_label_mini.request_label_mini--gray span {
    background-color: #777777;
}

.request_label_mini.request_label_mini--yellow span {
    background-color: #e3b872;
}

.request_label_mini.request_label_mini--purple span {
    background-color: #7450af;
}

.request_label_mini.request_label_mini--pink span {
    background-color: #f59fca;
}

.request_label_mini.request_label_mini--orange span {
    background-color: #cc7b29;
}

.request_label_mini.request_label_mini--deepred span {
    background-color: #95033b;
}

.item_list_panel__date {
    white-space: nowrap;
}

.request_label_mini {
    white-space: nowrap;
}

@media (max-width: 1335px) {
    .item_list_panel__item--alt-2 {
        width: calc(33.333% - 20px);
        padding-top: 23.333%;
    }
}

@media (max-width: 954px) {
    .item_list_panel__item--alt-2 {
        margin-bottom: 78px;
    }
    .item_list_panel__date__flex {
        flex-direction: column;
        align-items: flex-start;
        height: 58px;
    }
    .request_label_mini span {
        margin-top: 0;
    }
    .item_list_panel__date--alt {
        padding-bottom: 0;
        height: auto;
    }
    .list_selection__input--alt-2+label {
        height: calc(100% + 60px);
    }
}

@media (max-width: 767px) {
    .item_list_panel--alt {
        margin-right: -10px;
    }
    .item_list_panel__item--alt-2 {
        width: calc(50% - 10px);
        padding-top: 33%;
        margin-right: 10px;
        margin-bottom: 68px;
    }
    .list_operation_panel--alt {
        display: flex;
        flex-direction: column;
    }
    .list_operation_panel--alt .list_operation_panel__search {
        margin-bottom: 0;
        align-items: center;
    }
    .list_operation_panel--alt .search_menu__input {
        min-width: 310px;
    }
}


/*24_item_list.html ここまで**********************************/